body{
  background-color: cadetblue;
  display: grid;
  place-items: center;
  justify-content: center;
  flex-direction: column;
}

#popUpWords{
  display: none;
  color: floralwhite;
  font-size: 35px;
}

#popup{
  display: contents;
}